:root {
  --background-color: #ADD8E6;
  --border-color: #000000; 
  --text-color: #000000;
}

body {
  margin: 0;
}
a{
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif; 
  color: var(--border-color);
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--border-color);
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.brand {
  color: white;
}
.register {
  margin-right: 40px;
}
.register a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
.container {
  display: flex;
}
aside {
  background: var(--border-color);
  min-height: 100vh;
  width: 18%;
  color: white;
  padding: 30px;
}
nav a{
  display: block;
  color: white;
  padding: 10px;
}
main {
  background: var(--background-color);
  min-height: 100vh;
  width: 82%;
}

.item {
  flex-grow: 1; 
  padding-top: 25px; 
  padding-left: 15px; 
  font-family: Arial, Helvetica, sans-serif; 
  color: var(--text-color);
}

ul {
  list-style-type: none;
}
.form-container{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightblue;
}
.form-container h2{
  text-align:  center;
  margin-bottom: 50px;
}
.form-style ul{
  list-style: disc;
}
.form-style{
  background-color: white;
border: 1px solid #ddd;
border-radius: 10px;
padding: 40px;
}
.form-style label{
  display:block;
  margin-bottom: 12px;
}
.form-style .form-group{
  margin: 40px 0;
  text-align: center;
}
.form-style input{
  width: 250px;
  padding: 7px 15px;
}
.form-style button{
  background-color: dodgerblue;
  color: white;
  padding: 10px 30px;
  border-radius: 7px;
  display: block;
  border: none;
  width: 60%;
  margin: auto;
}
.error{
  color: red;
}
.success{
  color: green;
}
.send-email{
  background-color: white;
  width: 40%;
  padding: 40px;
}


/* Dropdown Button */
.dropbtn {
  background-color: var(--border-color);;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--border-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--background-color);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: var(--border-color);}
