body {
    margin: 0;
  }
  a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif; 
  
  }
  header {
    display: flex;
    justify-content: space-between;
    background-color: #000;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .brand {
    color: white;
  }
  .register {
    margin-right: 40px;
  }
  .register a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  .container {
    display: flex;
  }
  aside {
    background: #1d1d1d;
    min-height: 100vh;
    width: 18%;
    color: white;
    padding: 30px;
  }
  nav a{
    display: block;
    color: white;
    padding: 10px;
  }
  main {
    background: lightblue;
    min-height: 100vh;
    width: 82%;
  }
  
  .item {
    flex-grow: 1; 
    padding-top: 25px; 
    padding-left: 15px; 
    font-family: Arial, Helvetica, sans-serif; 
  }
  
  ul {
    list-style-type: none;
  }